$font-stack-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
  "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$font-stack-sans: "Roboto", "Montserrat", sans-serif;
$font-monserrat: "Montserrat";

$screen-xs-min: 375px;
$screen-sm-min: 640px;

$brand: #ff7a59;
$primary: #006EB3;
$primary-hover: #005E99;
$secondary: #eaf0f6;
$secondary-hover: #dfe3eb;
$text: #33475b;
$text-light: #666666;
$bg: #f9f8f7;
$border: #cbd6e2;
$placeholder: #b9b9b9;
